services:
  admit-guide-app:
    build:
      context: .
      dockerfile: deployment/Dockerfile
    container_name: admit-guide-app
    ports:
      - "7860:7860"
      - "8000:8000"
    volumes:
      - ./src:/app
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - admit-guide-app

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
